body {
    background-color: #77aafc;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#homelink {
    float: left;
    margin-left: 6%;
}

#kewpieicon {
    height: 140px;
    width: 130px;
}

#kewpieicon:hover {
    border-radius: 50%;
    background-color: #dcabdd;
    box-shadow: 1px 2px 3px #917192;
}

@font-face {
    font-family: 'Silenate';
    src: url('../fonts/Silenate.otf');
}

.maintitle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    width: 50%;
    max-width: fit-content;
    font-size: 100px;
    font-family:'Silenate';
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 2px #473747;
    color: #dcabdd;
}

.subtitle {
    display: block;
    width: 100%;
    display: inline-block;
    font-size: 30px;
    font-family:'Arial';
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 2px #473747;
    color: #dcabdd;
}

#nav {
    width: 70%;
    list-style-type: none;
    overflow: auto;
}

.navlink {
    float: left;
    width: 25%;
    text-align: center;
    font-size: 30px;
    font-family:'Arial';
    font-weight: bold;
    text-decoration: none;
    text-shadow: 1px 1px 2px #473747;
    color: #dcabdd;
}

.navlink:hover {
    text-decoration: underline;
}